---
http_interactions:
- request:
    method: get
    uri: https://api.signeasy.com/v2/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer pCpIS2M4rmrKPQn13bj4aVPelVBNMw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Signeasy-Request-Id:
      - apireq_1606859973458
    body:
      encoding: UTF-8
      string: '[{"is_shared": false, "hash": null, "name": "Try it now - demo", "is_ordered":
        false, "modified_time": 1606849108.0, "is_owned": true, "link": "https://app.signeasy.com/t/public/",
        "dirty": false, "created_time": 1606849029.0, "is_public": false, "message":
        "", "id": 4205749, "metadata": {"fields": [{"required": true, "additional_info":
        "MM/DD/YY", "role_id": 1, "id": 1, "type": "signature", "sub_type": "signature"},
        {"required": true, "additional_info": "MM/DD/YY", "role_id": 1, "id": 2, "type":
        "text", "sub_type": "text"}, {"required": true, "additional_info": "MM/DD/YY",
        "role_id": 1, "id": 3, "type": "date", "sub_type": "date"}], "roles": [{"color":
        "(34, 139, 34, 0.35)", "fields": [1, 2, 3], "id": 1, "name": "Student"}]}}]'
  recorded_at: Tue, 01 Dec 2020 21:59:33 GMT
recorded_with: VCR 6.0.0
