---
http_interactions:
- request:
    method: get
    uri: https://api.signeasy.com/v2/template/rs/1652096
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer IYk19NyuctpWTzpQk40PFIgqkBWzVA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Signeasy-Request-Id:
      - apireq_1606872188797
    body:
      encoding: UTF-8
      string: '{"status": "recipient_declined", "owner_first_name": "Xavi", "is_in_person":
        0, "name": "Demo Contract.pdf", "recipients": [{"status": "declined", "first_name":
        "Xavi", "last_name": "Ablaza", "order_id": 1, "created_time": 1606857838,
        "recipient_user_id": 6880070, "recipient_id": 2638244, "last_modified_time":
        1606857912, "email": "xlablaza@gmail.com"}], "owner_company": "Makisu", "public_link":
        "0", "owner_email": "xavi+signeasy@makisu.co", "is_envelope": 0, "owner_last_name":
        "Ablaza", "next": null, "last_modified_time": 1606857912, "envelope_info":
        [], "envelope_size": 0, "owner_user_id": 6865225, "created_time": 1606857837,
        "message": "Please sign this demo contract", "has_markers": 1, "is_ordered":
        0, "id": 1652096, "aadhaar_enabled": 0}'
  recorded_at: Wed, 02 Dec 2020 01:23:09 GMT
recorded_with: VCR 6.0.0
