---
http_interactions:
- request:
    method: get
    uri: https://api.signeasy.com/v2/template/4205749/rs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer IYk19NyuctpWTzpQk40PFIgqkBWzVA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Signeasy-Request-Id:
      - apireq_1606871327017
    body:
      encoding: UTF-8
      string: '{"count": 3, "files": [{"owner_first_name": "Xavi", "owner_company":
        "Makisu", "recipients": [{"status": "declined", "last_modified_time": 1606857912,
        "first_name": "Xavi", "last_name": "Ablaza", "recipient_user_id": 6880070,
        "recipient_id": 2638244, "created_time": 1606857838, "order_id": 1, "email":
        "xlablaza@gmail.com"}], "is_embedded_sending": null, "name": "Demo Contract.pdf",
        "is_ordered": 0, "owner_email": "xavi+signeasy@makisu.co", "owner_last_name":
        "Ablaza", "has_markers": 1, "last_modified_time": 1606857912, "status": "recipient_declined",
        "is_in_person": 0, "created_time": 1606857837, "logo": null, "next": null,
        "id": 1652096, "owner_user_id": 6865225, "aadhaar_enabled": 0}, {"owner_first_name":
        "Xavi", "owner_company": "Makisu", "recipients": [{"status": "not_viewed",
        "last_modified_time": 1606858304, "first_name": "Xavi", "last_name": "Ablaza",
        "recipient_user_id": 6880070, "recipient_id": 2638307, "created_time": 1606858304,
        "order_id": 1, "email": "xlablaza@gmail.com"}], "is_embedded_sending": null,
        "name": "Demo Contract 2.pdf", "is_ordered": 0, "owner_email": "xavi+signeasy@makisu.co",
        "owner_last_name": "Ablaza", "has_markers": 1, "last_modified_time": 1606858305,
        "status": "incomplete", "is_in_person": 0, "created_time": 1606858304, "logo":
        null, "next": 2638307, "id": 1652135, "owner_user_id": 6865225, "aadhaar_enabled":
        0}, {"owner_first_name": "Xavi", "owner_company": "Makisu", "recipients":
        [{"status": "not_viewed", "last_modified_time": 1606861511, "first_name":
        "Xavi", "last_name": "Ablaza", "recipient_user_id": 6880070, "recipient_id":
        2638595, "created_time": 1606861511, "order_id": 1, "email": "xlablaza@gmail.com"}],
        "is_embedded_sending": null, "name": "Demo Contract 2.pdf", "is_ordered":
        0, "owner_email": "xavi+signeasy@makisu.co", "owner_last_name": "Ablaza",
        "has_markers": 1, "last_modified_time": 1606861511, "status": "incomplete",
        "is_in_person": 0, "created_time": 1606861510, "logo": null, "next": 2638595,
        "id": 1652302, "owner_user_id": 6865225, "aadhaar_enabled": 0}]}'
  recorded_at: Wed, 02 Dec 2020 01:08:48 GMT
recorded_with: VCR 6.0.0
