---
http_interactions:
- request:
    method: get
    uri: https://api.signeasy.com/v2/template/rs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer IYk19NyuctpWTzpQk40PFIgqkBWzVA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Signeasy-Request-Id:
      - apireq_1606884752217
    body:
      encoding: UTF-8
      string: '{"count": 2, "files": [{"owner_first_name": "Xavi", "owner_company":
        "Makisu", "recipients": [{"status": "not_viewed", "last_modified_time": 1606858304,
        "first_name": "Xavi", "last_name": "Ablaza", "recipient_user_id": 6880070,
        "recipient_id": 2638307, "created_time": 1606858304, "order_id": 1, "email":
        "xlablaza@gmail.com"}], "is_embedded_sending": null, "name": "Demo Contract
        2.pdf", "is_ordered": 0, "owner_email": "xavi+signeasy@makisu.co", "owner_last_name":
        "Ablaza", "has_markers": 1, "last_modified_time": 1606858305, "status": "incomplete",
        "is_in_person": 0, "created_time": 1606858304, "logo": null, "next": 2638307,
        "id": 1652135, "owner_user_id": 6865225, "aadhaar_enabled": 0}, {"owner_first_name":
        "Xavi", "owner_company": "Makisu", "recipients": [{"status": "not_viewed",
        "last_modified_time": 1606883723, "first_name": "Xavi", "last_name": "Ablaza",
        "recipient_user_id": 6880070, "recipient_id": 2640025, "created_time": 1606883723,
        "order_id": 1, "email": "xlablaza@gmail.com"}], "is_embedded_sending": null,
        "name": "Demo Contract 3.pdf", "is_ordered": 0, "owner_email": "xavi+signeasy@makisu.co",
        "owner_last_name": "Ablaza", "has_markers": 1, "last_modified_time": 1606883723,
        "status": "incomplete", "is_in_person": 0, "created_time": 1606883722, "logo":
        null, "next": 2640025, "id": 1653277, "owner_user_id": 6865225, "aadhaar_enabled":
        0}]}'
  recorded_at: Wed, 02 Dec 2020 04:52:33 GMT
recorded_with: VCR 6.0.0
