---
http_interactions:
- request:
    method: post
    uri: https://api.signeasy.com/v2/template/rs/1653475/signing/url
    body:
      encoding: UTF-8
      string: '{"recipient_email":"xlablaza@gmail.com","redirect_url":"https://makisu.co","allow_decline":true}'
    headers:
      Authorization:
      - Bearer mKxe5aYOL22Xj2jIK7gukpFoY4gJC1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Signeasy-Request-Id:
      - apireq_1606891681893
    body:
      encoding: UTF-8
      string: '{"url": "https://dl.signeasy.com/signrequest?hash=d94f428ceeb84ea2be33f3b5a495cc730b0a0554558c4cfb8a338aebb45ac72305ad20208fbc4dbf8312cb3d29de7db5&allow_decline=1&next=https%3A//makisu.co"}'
  recorded_at: Wed, 02 Dec 2020 06:48:02 GMT
recorded_with: VCR 6.0.0
