---
http_interactions:
- request:
    method: post
    uri: https://api.signeasy.com/v2/template/rs/1653277/signing/url
    body:
      encoding: UTF-8
      string: '{"recipient_email":"xlablaza@gmail.com","redirect_url":"https://makisu.co","allow_decline":true}'
    headers:
      Authorization:
      - Bearer mKxe5aYOL22Xj2jIK7gukpFoY4gJC1
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="flask-restful"
    body:
      encoding: UTF-8
      string: '{"message": "Unauthorized", "error_code": "unauthorized_resource"}'
  recorded_at: Wed, 02 Dec 2020 07:16:10 GMT
recorded_with: VCR 6.0.0
