---
http_interactions:
- request:
    method: post
    uri: https://api.signeasy.com/v2/template/4205749/rs
    body:
      encoding: UTF-8
      string: '{"recipients":[{"first_name":"Xavi","last_name":"Ablaza","email":"xlablaza@gmail.com","role_id":1}],"name":"Demo
        Contract with Embedded Signing","message":"Please sign this demo contract","cc":[{"email":"xavi@makisu.co"}],"embedded_signing":true,"is_ordered":false}'
    headers:
      Authorization:
      - Bearer mKxe5aYOL22Xj2jIK7gukpFoY4gJC1
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Signeasy-Request-Id:
      - apireq_1606890244820
    body:
      encoding: UTF-8
      string: '{"pending_file_id": 1653475}'
  recorded_at: Wed, 02 Dec 2020 06:24:07 GMT
recorded_with: VCR 6.0.0
