---
http_interactions:
- request:
    method: post
    uri: https://api.signeasy.com/v2/template/4205749/rs
    body:
      encoding: UTF-8
      string: '{"recipients":[{"first_name":"Xavi","last_name":"Ablaza","email":"xlablaza@gmail.com","role_id":1}],"name":"Demo
        Contract 3","message":"Please sign this demo contract","cc":[{"email":"xavi@makisu.co"}],"embedded_signing":false,"is_ordered":false}'
    headers:
      Authorization:
      - Bearer IYk19NyuctpWTzpQk40PFIgqkBWzVA
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Signeasy-Request-Id:
      - apireq_1606883722298
    body:
      encoding: UTF-8
      string: '{"pending_file_id": 1653277}'
  recorded_at: Wed, 02 Dec 2020 04:35:25 GMT
recorded_with: VCR 6.0.0
